---
import exposeGif from "../assets/images/about/expose.gif";
import MaxHero from "../components/app/max-hero/MaxHero.astro";
import { PortfolioApp } from "../components/app/PortfolioApp";
import { projects } from "../data/projects";
import { resolveProjects } from "../data/resolve-project-images";
import { bio, awards, socialLinks } from "../data/site";
import Layout from "../layouts/Layout.astro";

const resolvedProjects = await resolveProjects(projects);
const resolvedSocialLinks = socialLinks.map((link) => ({
  label: link.label,
  href: link.href,
  iconSrc: link.icon.src,
}));
---

<Layout>
  <MaxHero />
  <div id="portfolio">
    <PortfolioApp
      client:load
      projects={resolvedProjects}
      bio={bio}
      awards={awards}
      socialLinks={resolvedSocialLinks}
      photoSrc={exposeGif.src}
    />
  </div>
</Layout>
